body {
    font-size: 60%; 
    font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
    /*overflow-x: hidden; */
    line-height: 100%;
    font-size: 16px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
    background-color: #FFFFFF;
    min-width: 250px;
    max-width: 100%;
    margin: 15px;
}

.input-group .form-control {
    margin-top: 10px;
}

h1 {
    font-size: 36px;
    padding-bottom: 10px;
    font-weight: bold;
}

h2 {
    font-size: 18px;
    padding-bottom: 10px;
}

h3 {
    font-size: 14px;
    font-weight: bolder;
}

p.empty {
    font-size: 10px;
    font-weight: lighter;
}

a#clip {
    color: #FFFFFF;
    font-size: 12px;
}

div#high-priority.list-group a.list-group-item{
    background-color: #08519c;
}
div#medium-priority.list-group a.list-group-item{
    background-color: #3182bd;
}
div#low-priority.list-group a.list-group-item{
    background-color: #6baed6;
}



button {
    margin: 10px 10px 10px 0px;
    color: #de2d26;
    font-weight: bolder;
    background: white;
    border: none;
    border-radius: 4px;
}

.glyphicon glyphicon-remove {
    color: #de2d26;
    margin: 5px;
    background: none;